/*
Lecture Notes

selector: WHAT you want to change
property: what PART you want to change
value: HOW you want to change it

declaration: property + value
rule-set: selector with the declaration block.
every ruleset appears on a line by itself.

space between selector and curly brace
close the declaration block on a line by itself
indent each declaration





*/
